body{

    background-image: url('../images/bg.png');
    background-size: cover;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}

h1{
    font-size: 120px;
    text-align: center;
}

h2{
    color: skyblue;
    font-size: 60px;
    padding: 10px;
    margin-top: 0px;
    margin-bottom: 0px;
    background-color: rgba(0, 0, 0, 0.178);
}


p{
    color: rgb(189, 184, 184);
    font-size: 30px;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 0px;
}